[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "blsR"]
	path = blsR
	url = https://github.com/groditi/blsr
[submodule "ustfd"]
	path = ustfd
	url = https://github.com/groditi/ustfd
